
<div class="container">

	@* ============= BREADCRUMBS ============ *@
	<ol class="breadcrumb my-4">
		<li class="breadcrumb-item"><a class="text-decoration-none" href="#">Shop</a></li>
		<li class="breadcrumb-item"><a class="text-decoration-none" href="#">Books</a></li>
		<li class="breadcrumb-item active">Psychology & Counseling</li>
	</ol>

	<div class="row">
		<div class="col-6">
			<img class="img-fluid" src="~/images/books/Atomic_Habits- Self-help.webp" alt="Alternate Text" />
		</div>
		<div class="col-6">
			@* ========= SUBCONTENT 1 ======== *@
			<div class="subCT1 ">
				<h2 class="nameItem">The Creative Act: A Way of Being</h2>
				<div class="author">
					<p><span>by </span>Rick Rubin</p>
				</div>
				<div class="rating">
					<span class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
					<span class="text-muted">5,412</span>
				</div>
			</div>
			@* ========= SUBCONTENT 2 ======== *@
			<div class="subCT2 border-top mt-2">
				<div class="price">
					<p><span class="text-danger">-40% </span>$19.25</p>
					<p>List Price: <span class="text-decoration-line-through">$32.00</span></p>
					
				</div>
				<p>FREE International Returns</p>

			</div>
			@* ========= SUBCONTENT 3 ======== *@
			<div class="subCT3">
				<h3 class="text-primary">In Stock</h3>
				<label>Quantity</label>
				<input type="number" /><br /><br />
				<div class="row">
				<button type="button" class="col-lg-4 btn btn-warning m-2">Add to cart</button>
				<button type="button" class="col-lg-4 btn btn-success m-2">Buy Now</button>
				</div>
			</div>
		</div>
	</div>

	<div class="description row preserve-line border-top">
		<h3>Description</h3>
		<span>
			The #1 New York Times bestseller.

			"A gorgeous and inspiring work of art on creation, creativity, the work of the artist. It will gladden the hearts of writers and artists everywhere, and get them working again with a new sense of meaning and direction. A stunning accomplishment.” —Anne Lamott

			From the legendary music producer, a master at helping people connect with the wellsprings of their creativity, comes a beautifully crafted book many years in the making that offers that same deep wisdom to all of us.

			“I set out to write a book about what to do to make a great work of art. Instead, it revealed itself to be a book on how to be.” —Rick Rubin

			Many famed music producers are known for a particular sound that has its day. Rick Rubin is known for something else: creating a space where artists of all different genres and traditions can home in on who they really are and what they really offer. He has made a practice of helping people transcend their self-imposed expectations in order to reconnect with a state of innocence from which the surprising becomes inevitable. Over the years, as he has thought deeply about where creativity comes from and where it doesn’t, he has learned that being an artist isn’t about your specific output, it’s about your relationship to the world. Creativity has a place in everyone’s life, and everyone can make that place larger. In fact, there are few more important responsibilities.

			The Creative Act is a beautiful and generous course of study that illuminates the path of the artist as a road we all can follow. It distills the wisdom gleaned from a lifetime’s work into a luminous reading experience that puts the power to create moments—and lifetimes—of exhilaration and transcendence within closer reach for all of us.
		</span>
	</div>
</div>